:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-content {
  margin-top: 50px;
  display: flex;
}

.mat-card.todo-list {
  width: 500px;
}

.description {
  margin-bottom: 20px;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}

.mat-card-title {
  font-size: 200%;
}

.mat-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

:host /deep/ .mat-sidenav-content {
  display: flex;
}

mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
