.indicator-card {
  max-width: 250px;
  width: 250px;
  margin: 10px;
}

.description {
  min-height: 180px;
}

.card-title {
  font-size: 20px;
}

a {
  text-decoration: none;
}


.example-card {
  max-width: 400px;
}
