<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>UGX 8000</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/images/products/belt.jpg">
  <mat-card-content>
    <p style="margin-top:59px">
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openDialog()">BUY</button>
  </mat-card-actions>
</mat-card>
